apps/front/config/factories.yml

config/databases.yml

lib/filter/doctrine/base/
lib/form/doctrine/base/
lib/model/doctrine/base/

nbproject
cache
log
php.ini

**.svn**
**.git**
**/.**

**error_log 
**.**quota 
web/sf 
web/uploads
web/uploads/thumbs
web/uploads/**.thumbs/** 
web/**Plugin
